.input-menu {
    border-radius: 30px;
}
.tags {
    border-bottom: 1px solid $gris;
}
.tags ul {
    padding: 0;
    list-style: none;
}
.tags ul li {
    display: inline;
    padding: 2px 4px;
    background-color: $celeste;
    margin-right: 1px;
    color: $blanco;
}