/* Form Layout */
article{
    padding-left: 50px;
    padding-right: 40px;
    padding-top: 20px;
    text-align: justify;
}

footer {
    background-color: $raisin-black;
    justify-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
   

    
}
.perfil{
    padding-bottom: 30px;
}
.perfil__foto {
    border: 1px solid $spanish-pink;
    border-radius: 250px;
    min-width: 180px;  
}
.perfil__h5 {
  
  padding-top: 50px;
}
.perfil__texto {
    padding-top: 50px;
    
}

