.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

.linea {display: inline;}

.linea a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
}

.linea a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}

.linea a:hover:not(.active) {background-color: #ddd;}